/*!---------- GLOBAL STYLES ----------*/
body {
    background: #eee;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

:root {
    --color-primary: #073861;
    --color-primary-light: #4b4bf1;
    --color-primary-lighter: #6666b3;
    --color-secondary: #b87333;
    --color-bg: #fef6eb;
}

.main-container,
.nav-container,
.footer-container,
nav,
nav.fixed,
.callout {
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

body.body-bg {
    background: var(--color-primary);
}

body.boxed-layout .main-container,
body.boxed-layout .nav-container,
body.boxed-layout .footer-container,
body.boxed-layout nav,
body.boxed-layout nav.fixed,
body.boxed-layout nav.overlay {
    max-width: 1170px;
}

.main-container {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/*!---------- MIXINS ----------*/
.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--color-primary);
    opacity: 0.2;
    top: 0;
    left: 0;
}

.overlay-primary:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--color-primary);
    opacity: 0.2;
    top: 0;
    left: 0;
}

.overlay-light:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #ffffff;
    opacity: 0.6;
    top: 0;
    left: 0;
}

/*!---------- SECTIONS ----------*/
section {
    padding: 120px 0;
    background: #fff;
    overflow: hidden;
    position: relative;
    background: var(--color-bg);
}

section .container {
    position: relative;
    z-index: 2;
}

@media all and (max-width: 767px) {
    section {
        padding: 60px 0;
    }
}

section.fullscreen {
    height: 100vh;
    padding: 0;
}

section.fullscreen .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

section.bg-primary {
    background: var(--color-primary);
}

section.bg-primary h1,
section.bg-primary h2,
section.bg-primary h3,
section.bg-primary h4,
section.bg-primary h5,
section.bg-primary h6 {
    color: #ffffff;
}

section.bg-primary p,
section.bg-primary span,
section.bg-primary li {
    color: #ffffff;
}

@media all and (max-width: 767px) {
    section.fullscreen:not(.header) {
        height: auto;
        padding: 120px 0;
    }

    section.fullscreen:not(.header) .container {
        top: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }
}

/*!---------- TYPOGRAPHY ----------*/
body {
    font-family: "Libre Baskerville", "Georgia", Times New Roman, Time, serif;
    font-size: 14px;
    line-height: 28px;
    color: #444444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu li a,
.logo span {
    font-family: 'Lato', "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
    cursor: default;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: -3px;
}

h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

h3 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: -1px;
}

h4 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

h6,
.h6 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

@media all and (max-width: 990px) {
    h1 {
        font-size: 46px;
        line-height: 54px;
        font-weight: 300;
    }

    h2 {
        font-size: 38px;
        line-height: 46px;
        font-weight: 300;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }

    h4 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 300;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }

    h6 {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: -2px;
    }
}

@media all and (max-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 300;
    }

    h2 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 300;
    }

    h3 {
        font-size: 24px;
        line-height: 34px;
        font-weight: 300;
    }

    h4 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 300;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }

    h6 {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: -2px;
    }
}

@media all and (max-width: 767px) {
    br {
        display: none;
    }
}

.ampersand {
    font-family: "Libre Baskerville", "Georgia", Times New Roman, Time, serif;
    font-style: italic;
    opacity: .5;
}

/*!---------- BUTTONS ----------*/
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    cursor: pointer !important;
}

.btn {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    text-align: center;
    min-width: 160px;
    height: 55px;
    line-height: 53px;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.btn:hover {
    background: var(--color-primary);
    color: #fff;
}

.btn-white {
    color: #fff;
    border-color: #fff;
}

.btn-white:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

/*!---------- COLOURS ----------*/
.bg-secondary {
    background: #fcfcfc;
}

/*!---------- COVERED BACKGROUNDS ----------*/
.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--color-primary);
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

.background-image-holder:before {
    position: absolute;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
}

.background-image-holder img {
    display: none;
}

.background-image-holder.fadeIn {
    opacity: 1;
}

.parallax .background-image-holder {
    height: 150%;
    top: -30%;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
}

@media only screen and (min-width: 769px) {
    .background-image-holder .web-image {
        display: block;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .background-image-holder .mobile-image {
        display: block;
        height: 100%;
        width: 100%;
    }
}

/*!---------- SLIDERS ----------*/

/*!---------- NAVIGATION ----------*/
nav {
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.nav-1 {
    height: 60px;
    max-height: 60px;
    padding: 15px 30px;
    background: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.nav-1 img {
    max-height: 20px;
    display: inline-block;
    margin-top: 3px;
}

.logo {
    float: left;
}

.logo span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
}

.menu {
    float: right;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.menu li {
    float: left;
    margin-right: 32px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .5;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:hover {
    opacity: 1;
    cursor: pointer;
}

.menu li:hover a {
    color: var(--color-primary);
}

.menu li a {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    font-size: 11px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 0;
}

@media all and (max-width: 768px) {
    .nav-1 {
        height: auto;
        max-height: 60px;
        padding: 15px 15px;
        position: fixed;
        top: 0;
        width: 100;
        z-index: 99;
    }

    .menu {
        width: 100%;
        margin-top: 20px;
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    .menu li {
        float: none;
        margin-right: 0;
        margin-bottom: 8px;
        opacity: 0;
    }

    .nav-open {
        max-height: 600px;
    }

    .nav-open .menu {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }

    .nav-open .menu li {
        opacity: 1;
    }
}

.mobile-toggle {
    float: right;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
    display: none;
}

.line-1,
.line-2,
.line-3 {
    width: 45px;
    height: 4px;
    background: #222;
    margin-bottom: 4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .4;
}

.mobile-toggle:hover .line-1,
.mobile-toggle:hover .line-2,
.mobile-toggle:hover .line-3 {
    opacity: 1;
}

@media all and (max-width: 768px) {
    .mobile-toggle {
        display: block;
    }
}

nav.scrolled {
    position: fixed;
    top: 0;
    width: 100;
    z-index: 99;
}

nav.transparent {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: none;
}

nav.transparent .menu li {
    opacity: .7;
}

nav.transparent.scrolled {
    background: #fff;
}

nav.transparent.light.scrolled {
    background: var(--color-primary);
}

nav.transparent.light.scrolled .menu li a {
    color: #fff;
}

nav.transparent.light.scrolled span {
    color: #fff;
}

nav.light .menu li a,
nav.light span {
    color: #fff;
}

nav.light .line-1,
nav.light .line-2,
nav.light .line-3 {
    background: #fff;
}

nav.light.scrolled .line-1,
nav.light.scrolled .line-2,
nav.light.scrolled .line-3 {
    background: #222;
}

/*!---------- HEADERS ----------*/
.header {
    padding: 0;
    background: var(--color-primary);
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
    color: #ffffff;
}

.header p,
.header span,
.header li {
    color: #ffffff;
}

.header.light {
    padding: 0;
    background: #fff;
}

.header.light h1,
.header.light h2,
.header.light h3,
.header.light h4,
.header.light h5,
.header.light h6 {
    color: #222222;
}

.header.light p,
.header.light span,
.header.light li {
    color: #444444;
}

.header .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.header.fadeContent .row {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
}

.header.fadeContent.fadeIn .row {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
}

.header h1 {
    font-size: 120px;
    line-height: 128px;
    font-weight: 100;
    margin-bottom: 30px;
}

.header .btn {
    color: #fff;
    border-color: #fff;
}

.header .btn:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

.burns-effect {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.burns-effect .background-image-holder {
    animation: kenBurns 25s ease-out infinite alternate;
    -webkit-animation: kenBurns 25s ease-out infinite alternate;
}

@keyframes kenBurns {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    to {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
    }
}

@-webkit-keyframes kenBurns {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    to {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
    }
}

@media all and (max-width: 767px) {
    .header h1 {
        font-size: 80px;
        line-height: 88px;
    }
}

.header {
    height: 700px;
}

.header h1 {
    margin-bottom: 24px;
}

.header h3 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 9px;
    margin-right: -9px;
}

@media all and (max-width: 767px) {
    .header {
        height: 500px;
    }
}

.header-countdown-timer {
    margin-top: 24px;
}

.header-countdown-timer ul {
    padding: 0;
}

.header-countdown-timer li {
    display: inline-block;
    font-size: 1em;
    padding: 1em;
    text-transform: uppercase;
    border-right: 1px solid #bebebe;
}

.header-countdown-timer li:last-child {
    border-right: none;
}

.header-countdown-timer li span {
    display: block;
    font-size: 4.5rem;
    font-family: 'Lato', "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 1.5rem;
}

@media all and (max-width: 767px) {
    .header-countdown-timer li {
        font-size: .5em;
    }
}

.header-countdown-headline {
    animation: imgFloat 7s ease-in-out infinite;
    text-align: center;
}

.header-text {
    text-align: center;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
    }
}

audio {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: lightblue;
    z-index: 100;
}

/*!---------- STORY ----------*/
.story-1 {
    padding-bottom: 60px;
}

.story-1 .feature {
    margin-bottom: 60px;
}

.story-1 h2 {
    margin-bottom: 20px;
    color: var(--color-primary);
}

.story-1 h6 {
    margin-bottom: 60px;
    color: var(--color-secondary);
}

.story-1 img {
    margin-bottom: 20px;
}

/*!---------- DETAILS ----------*/
.details h3 {
    margin-bottom: 30px;
    color: var(--color-secondary);
}

.details-1 {
    background: var(--color-primary);
    padding: 180px 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.details-1 h1,
.details-1 h2,
.details-1 h3,
.details-1 h4,
.details-1 h5,
.details-1 h6 {
    color: #ffffff;
}

.details-1 p,
.details-1 span,
.details-1 li {
    color: #ffffff;
}

.details-1.light h1,
.details-1.light h2,
.details-1.light h3,
.details-1.light h4,
.details-1.light h5,
.details-1.light h6 {
    color: #222222;
}

.details-1.light p,
.details-1.light span,
.details-1.light li {
    color: #444444;
}

.details-1 h1 {
    font-size: 100px;
    line-height: 108px;
    font-weight: 100;
    margin-bottom: 30px;
}

@media all and (max-width: 1024px) {
    .details-1 h1 {
        font-size: 80px;
        line-height: 88px;
        font-weight: 300;
    }
}

@media all and (max-width: 767px) {
    .details-1 h1 {
        font-size: 64px;
        line-height: 72px;
    }
}

.details-2-title {
    text-align: center;
    margin-top: 3rem !important;
}

.image-radius {
    border-radius: 15px;
}

/*!---------- ACCOMMODATION ----------*/
.accom-1 h1,
.accom-1 h2,
.accom-1 h3,
.accom-1 h4,
.accom-1 h5,
.accom-1 h6 {
    color: #ffffff;
}

.accom-1 p,
.accom-1 span,
.accom-1 li {
    color: #ffffff;
}

.accom-1.light h1,
.accom-1.light h2,
.accom-1.light h3,
.accom-1.light h4,
.accom-1.light h5,
.accom-1.light h6 {
    color: #222222;
}

.accom-1.light p,
.accom-1.light span,
.accom-1.light li {
    color: #444444;
}

.accom-1 h6 {
    margin-bottom: 30px;
}

.accom-1 h1 {
    margin-bottom: 40px;
}

.accom-1 p:last-of-type {
    margin-bottom: 40px;
}

.accom-2 {
    padding-bottom: 60px;
}

.accom-2 .feature {
    margin-bottom: 60px;
}

.accom-2 h2 {
    margin-bottom: 60px;
    color: var(--color-secondary);
}

.accom-2 img {
    display: inline-block;
    margin-bottom: 30px;
}

.accom-2 h6 {
    color: var(--color-primary);
    margin-bottom: 15px;
}

/*!---------- RSVP ----------*/
form {
    position: relative;
}

input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
}

input[type="submit"]:focus {
    outline: none;
}

.form-loading {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    margin: 0px auto;
    top: 50%;
    width: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem !important;
}

@media only screen and (max-width: 370px) {
    .radio-group {
        flex-direction: column;
    }
}

.radio-holder input {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.radio-holder {
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
}

.radio-holder:hover,
.radio-holder.checked {
    background: var(--color-primary);
    color: #fff;
}

.radio-holder.naked {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    font-family: 'Lato';
    margin: 0 16px;
    color: var(--color-primary);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .7;
}

.radio-holder.naked span {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-bottom: 4px;
}

.radio-holder.naked.checked,
.radio-holder.naked:hover {
    opacity: 1;
    background: none;
    color: var(--color-primary);
}

.radio-holder.naked.checked span,
.radio-holder.naked:hover span {
    border-color: var(--color-primary);
}

.form-section {
    margin-bottom: 60px;
}

@media all and (max-width: 767px) {
    .radio-holder.naked {
        margin-bottom: 20px;
    }
}

.rsvp form {
    margin: 0 auto;
    display: block;
}

.rsvp form input[type="text"] {
    height: 55px;
    background: #fcfcfc;
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    font-family: 'Lato';
}

.rsvp form input[type="text"]:focus {
    outline: none;
}

.rsvp form input[type="submit"] {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    text-align: center;
    min-width: 160px;
    height: 55px;
    line-height: 53px;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    background: none;
    font-size: 12px;
    border-radius: 15px;
}

.rsvp form input[type="submit"]:hover {
    background: var(--color-primary);
    color: #fff;
}

.rsvp.bg-secondary form input[type="text"] {
    background: #fff;
}

.rsvp .guest-required-notice {
    display: none;
    color: red;
}

.rsvp-2 h3 {
    margin-bottom: 30px;
    color: var(--color-secondary);
}

.rsvp-2 p:last-of-type {
    margin-bottom: 65px;
}

.rsvp-2 form input[type="text"] {
    margin-bottom: 10px;
}

.rsvp-2 .form-wrapper {
    width: 475px;
    margin: 0 auto;
    background: whitesmoke;
    padding: 40px 20px 40px 20px;
    border-radius: 15px;
    border: .1px solid var(--color-primary);
    box-shadow: 5px 10px var(--color-primary);
}

.rsvp-2 .form-section {
    margin-bottom: 40px;
}

.rsvp-2 h6 {
    color: #777;
    margin-bottom: 20px;
}

.rsvp-2-headline {
    text-align: center;
}

.form-error,
.form-success {
    display: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    position: absolute;
    bottom: 110%;
    width: 100%;
    padding: 8px;
    color: #fff;
}

.form-error {
    background: #c34747;
}

.form-success {
    background: #47c347;
}

.field-error {
    border-color: red !important;
}

@media all and (max-width: 767px) {
    .rsvp-2 .form-wrapper {
        width: 100%;
        padding: 20px;
    }
}

/*!---------- GALLERY ----------*/
.gallery-2 {
    padding: 0;
    height: 600px;
}

.gallery-2:before {
    opacity: .6;
}

.gallery-2 .instafeed,
.gallery-2 .instafeed ul {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gallery-2 .instafeed li {
    width: 20%;
    float: left;
    background-size: cover !important;
    height: 50%;
}

.gallery-2 .instafeed li:nth-child(n+11) {
    display: none;
}

.gallery-2 .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 3;
}

.gallery-2 h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 100;
    line-height: 128px;
    cursor: pointer;
}

.gallery-2 h6 {
    color: #fff;
    cursor: pointer;
}

@media all and (max-width: 1300px) {
    .gallery-2 .instafeed li {
        width: 25%;
    }

    .gallery-2 .instafeed li:nth-child(n+9) {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    .gallery-2 h1 {
        font-size: 80px;
        line-height: 88px;
        font-weight: 300;
    }
}

@media all and (max-width: 767px) {
    .gallery-2 h1 {
        font-size: 40px;
        max-width: 100%;
        font-weight: 300;
        line-height: 68px;
        margin-bottom: 8px;
    }

}

/*!---------- GOOGLE MAP ----------*/
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

/*!---------- The Modal (background) ----------*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.welcome-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: transparent
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.welcome-popup-close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 100px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 80%;
    }
}

/* FAQS CONTENT */

.faqs-container {
    margin: 10% 10% 10% 10%;
}

.faqs-title {
    margin-bottom: 30px;
    color: var(--color-secondary);
    text-align: center;
}

.faq-content {
    padding: 9px 25px 3rem;
}

.faq-content h1 {
    font-size: 32px;
    text-align: center;
    color: var(--primary-dark-color);
}

.faq-accordion {
    padding: 8px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}


/* FAQ card: main title */
/*================================================*/

/* checkbox tgg-title*/
input.tgg-title {
    appearance: unset;
    all: unset;
}

.faq-accordion-title label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq-accordion-title h2 {
    font-size: 12px
        /*var(--font-size)*/
    ;
    font-weight: 400;
    color: var(--neutral-dark-color);
}

.faq-accordion-title span {
    margin-left: auto;
    transition: transform .4s ease-in-out;
}


/* FAQ card: main content */
/*================================================*/

.faq-accordion-content {
    color: var(--neutral-soft-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease-in-out;
}


/* Effects */
/*================================================*/

/* main title, accordion title effects */

.faq-accordion-title:hover h2 {
    color: var(--primary-soft-color)
}

/* onclick "" */
.faq-accordion .tgg-title:checked+div>label>h2 {
    font-weight: 700;
}

.faq-accordion .tgg-title:checked+div>label>span {
    will-change: transform;
    transform: rotate(180deg);
}

/* main content, acordion text effect */

.faq-accordion .tgg-title:checked~.faq-accordion-content {
    will-change: max-height;
    max-height: 200px;
}